
@{
    ViewBag.Title = "View";
}
@Html.ValidationSummary()

<form action="" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="name" name="Name" placeholder="Name" value="@(Model == null ? "" : Model.Name)">
    </div>
    <div class="form-group">
        <label>Id</label>
        <input type="text" class="form-control" id="id" name="Id" placeholder="Id" value="@(Model == null ? "" : Model.Id)">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="email" name="Email" placeholder="Email" value="@(Model == null ? "" : Model.Email)">
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" id="phone" name="Phone" placeholder="Phone" value="@(Model == null ? "" : Model.Phone)">
    </div>
    <div class="form-group">
        <label>Date</label>
        <input placeholder="Date of Birth" type="date" id="dob" name="DateOfBirth" class="form-control" value="@(Model == null ? "" : Model.DateOfBirth)">

    </div>
    <div class="form-group">
        <label>Blood Group</label>
        <select class="form-select" name="BloodGroup" id="bloodgroup">
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>

        </select>
    </div>
    <div class="form-group">
        <label>Gender</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Gender" id="gendermale" value="Male">
            <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Gender" id="genderfemale" value="Female">
            <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
